@import url(https://fonts.googleapis.com/css?family=Hind:500);

body {
  font-family: 'Hind', sans-serif;
}

svg {
  width: 20px;
  height: auto;
}

/* Navbar */
.navbar-brand img {
  border-radius: 100%;
}
