@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

:root {
  --primary-color: #845ec2;
  --secondary-color: #cee7f1;
  --tertiary-color: #11819f;
}

#sidebar {
  height: 100vh;
  transition: 0.7s ease-in-out;
  min-width: 10rem;

  z-index: 1;
}
#sidebar.active {
  margin-left: -10rem;
}

.wrapper {
  min-width: 100%;
}

main {
  min-height: 60vh;
  width: 100%;
}

button {
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
}

input {
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0.7rem !important;
}

.btn-primary,
.bg-primary {
  background-color: var(--primary-color);
}
a {
  color: var(--primary-color);
  text-decoration: none;
}

.modal-background,
body {
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: var(--secondary-color) !important;
}
nav {
  background-color: var(--tertiary-color) !important;
}
.navbar-brand,
.nav-link,
.dropdown-item {
  color: var(--secondary-color) !important;
}

.dropdown-item:hover {
  color: var(--primary-color) !important;
  background-color: var(--secondary-color) !important;
}
.dropdown-menu {
  background-color: transparent;
}

label {
  opacity: 0.5;
}

.dropdown-menu,
.alert,
.toast {
  border-radius: 0 !important;
  border: none;
}
