main {
  min-height: 80vh;
}

body,
.modal-background {
  background-color: #c2d3e4d3 !important;
}

.bg-dark {
  background-color: #2d83f4 !important;
}
.nav-link {
  color: #fff !important;
}
.nav-link:hover {
  color: rgba(255, 255, 255, 0.692) !important;
}
