@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap);

/* ===================
sidebar functionality
====================== */
#sidebar {
  height: 100vh;
  transition: 0.7s ease-in-out;
  min-width: 10rem;
  position: fixed;
  z-index: 1;
}
#sidebar.active {
  margin-left: -50rem;
}

#content {
  position: relative;
  margin-top: 40px;
  width: 100%;
  opacity: 1;
}
/* ===================
end sidebar functionality
====================== */
main {
  min-height: 60vh;
}

button {
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
}

input {
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0.7rem !important;
}

.modal-background,
body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(204, 200, 200) !important;
}

label {
  opacity: 0.5;
}

.dropdown-menu,
.alert,
.toast {
  border-radius: 0 !important;
  border: none;
}
